node_modules
.temp
.cache
dist
node_modules/
theme_hope/.vuepress/.cache/
theme_hope/.vuepress/.temp/
theme_hope/.vuepress/dist/
theme_hope
node_modules/
docs/.vuepress/.cache/
docs/.vuepress/.temp/
docs/.vuepress/dist/
